.header {
    background-color:#2D2C67;
    color:white;
    padding:5px;
}
.nav {
    line-height:30px;
    background-color:#eeeeee;
    height:700px;
    width:20%;
    float:left;
    padding:0px; 
    font-family: Tahoma, Geneva, sans-serif;
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:#2D2C67;
    font-family: Tahoma, Geneva, sans-serif;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
.textbig {
    font-size:25px;
}
.textmid {
    font-size:15px;
}
.banner {
    font-family: Copperplate Gothic Light, sans-serif;
}
.banner p {
    margin:0;
}
.logo {
    width:45px;
    height:45px;
    float:left;
}
.admin {
    background-color: #8B8796;
    margin:0;
    padding:3px;
    border-bottom: 4px solid #CAC7D4;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color:#fff;
}
.admin p {
    padding:3px;
    margin:0;
}
body {
    margin:0;
    padding:0;
    border: 5px solid #2d2c67;
}
.footer p{
    padding-top: 200px;
}
.nav ul {
    list-style-type: none;
    margin:0;
    padding: 0;

}
.nav a{
    display: block;
    
    text-decoration: none;
    text-align: right;
    border-left-radius: 5px;
    padding: 5px;
    color:#000;
}
.nav li {
    margin: 0;
    padding: 0;
}
.nav a:hover{
    background-color: #8B8796;
    color: #000;
}
.select {
    background-color: #FFF;
    color: #000;
}
.content {
    font-family: Tahoma, Geneva, sans-serif;
    margin-left:27%;
    margin-top:3.5%;

}
.iconImage {
    width:80%;
    height:80%;
}
.iconImage2 {
    width:50%;
    height:50%;
}
.iconImage3 {
    width:20%;
    height:25%;
}
.iconImage4 {
    width:10%;
    height:10%;
}
#iconTable td {
    padding:15px;
    font-size:120%;
}
#formtdlabel{
    text-align: right;
}
#formTable {
    margin:2%;
    padding:5%;
    border: 1px solid #2D2C67;
}
.centerText {
    text-align: center;
}
#formTable table{
    margin-left:20%;
}
#formTable input {
    width:120%;
}
.application p {
	color:white;
}


