.login {
	margin-left: 0px !important;
}

h1 {
	font-size: 2.5em;
}

#big-logo {
	width:170px;
	height:170px;
	display: block;
	margin-bottom: 2em;
}

#logo2 {
	width:100px;
	height:100px;
	display: block;
	margin-bottom: 1.5em;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.blue {
	background-color: rgb(45, 44, 103) !important;
}

.red-box {
	border: 1.5px solid red;
}

@media (min-width: 200px) and (max-width: 500px) {
    .size-panel {
    	width: 75%;
   	}
   	.size-input {
   		width: 90%;
   	}
   .size-table {
	   width: 100%;
   }

}
@media (min-width: 500px) and (max-width: 900px) {
    .size-panel {
    	width: 50%;
   	}
   	.size-input {
   		width: 70%;
   	}
	.size-table {
	   width: 80%;
   }
}

@media (min-width: 900px) {
	.size-input {
		width: 55%;
	}
}

.blue-text {
	color: rgb(45, 44, 103) !important;
}

#report p {
	text-align: left !important;
}

#incidents div { 
	background-color: #bbb;
	color: #555;
}
	#incidents div article {
		padding: 1em;
		margin-bottom: 1em;
		border-top: 3px solid #222;
		border-top: 5px solid #81918E;
		text-align: left;
		font-size: 0.8em;
	}
	
	#incidents div article:first-child {
		border-top: 0;
	}
	
		#incidents div article header {
			border-bottom: 1px solid #222;
			margin-bottom: 1em;
			font-size: 1.1em;
		}
		
		#incidents div article ul {
			padding-left: 1em;
			list-style: circle;
		}
		
		 #incidents div article ol {
			padding-left: 1em;
			list-style: decimal;
		 }
		
		#incidents div article p {
			margin-bottom: 0;
		}
		
		#incidents div article strong{
			color: #555 !important;
			font-weight: 500;
		}
		
#new-link {
	border: 1px solid #bbb;
	padding: 0.2em;
	/*background-color: transparent;*/
}

#new-link:hover {
	background-color: #bbb;
	color: #555 !important;
}

.link-button {
	background-image: none;
	background-color: transparent;
	border: 1px solid #222;
	color: inherit;
	padding: 0.7em;
	width: 100%;
}

.link-button:hover {
	/*background-color: #81918E;*/
	background-color: rgb(45, 44, 103) !important;
	color: #fff !important;
}

.link-button:focus {
	/*background-color: #81918E;*/
	background-color: rgb(45, 44, 103);
	color: #fff !important;
}

.button-label > .link-button {
	margin: 0.5em;
	background-color: #bbb;
}

.button-label {
	background-color: transparent;
	border: 1px solid #222;
	color: #000;
	padding: 0.2em 0em;
}

.t40 {
	width: 40%;
}

.t25 {
	width: 25%;
}

.t10 {
	width: 10%;
}

.ts {
	width: 49%;
}

.text-left {
	text-align: left;
}